/krona.html
/DBB.merged_SSU.fasta.mseq.gz
/DBB.merged_SSU.fasta.mseq_hdf5.biom
/DBB.merged_SSU.fasta.mseq_json.biom
/DBB.merged_SSU.fasta.mseq.tsv
/DBB.merged_SSU.fasta.mseq.txt
/SSU-taxonomy-summary.ttl
