/fastp.html
/final.contigs.fa.bz2
/config.yml
/run.yml
/DBH.merged_CDS.ffn.bz2
/DBH_AAAHOSDA_1_1_HMNJKDSX3.UDI212_clean.fastq.trimmed.fasta.bz2
/DBH_AAAHOSDA_1_2_HMNJKDSX3.UDI212_clean.fastq.trimmed.fasta.bz2
/DBH.merged_CDS.faa.bz2
/DBH.merged.fasta.bz2
/DBH.merged.cmsearch.all.tblout.deoverlapped.bz2
/DBH_AAAHOSDA_1_2_HMNJKDSX3.UDI212_clean.fastq.trimmed.qc_summary
/DBH_AAAHOSDA_1_1_HMNJKDSX3.UDI212_clean.fastq.trimmed.qc_summary
/DBH.merged.qc_summary
/DBH.merged.unfiltered_fasta.bz2
/DBH.merged.motus.tsv.bz2
