/fastp.html
/final.contigs.fa.bz2
/config.yml
/run.yml
/DBB.merged.fasta.bz2
/DBB.merged_CDS.faa.bz2
/DBB.merged.motus.tsv.bz2
/DBB_AACKOSDA_1_1_HMNJKDSX3.UDI198_clean.fastq.trimmed.qc_summary
/DBB.merged.qc_summary
/DBB.merged_CDS.ffn.bz2
/DBB_AACKOSDA_1_2_HMNJKDSX3.UDI198_clean.fastq.trimmed.qc_summary
/DBB_AACKOSDA_1_2_HMNJKDSX3.UDI198_clean.fastq.trimmed.fasta.bz2
/DBB.merged.unfiltered_fasta.bz2
/DBB_AACKOSDA_1_1_HMNJKDSX3.UDI198_clean.fastq.trimmed.fasta.bz2
/DBB.merged.cmsearch.all.tblout.deoverlapped.bz2
