/DBB.merged_CDS.I5.tsv.gz
/DBB.merged.hmm.tsv.gz
/DBB.merged.summary.go
/DBB.merged.summary.go_slim
/DBB.merged.summary.ips
/DBB.merged.summary.ko
/DBB.merged.summary.pfam
/DBB.merged.emapper.summary.eggnog
/functional-annotation.ttl
