/krona.html
/DBB.merged_LSU.fasta.mseq.gz
/DBB.merged_LSU.fasta.mseq_hdf5.biom
/DBB.merged_LSU.fasta.mseq_json.biom
/DBB.merged_LSU.fasta.mseq.tsv
/DBB.merged_LSU.fasta.mseq.txt
/LSU-taxonomy-summary.ttl
